section{
    margin-top:70px;
}

.sorot:hover {
    border-radius : 25px;
    /* border-bottom : 5px solid white ; */
    background-color:#b8b8b8 ;
    /* color: white ; */
    /* margin-top : -5px; */
}

#informasi, #faq{
    padding : 90px 0;
}

footer{
    padding : 50px 0 ;
}

.myform b{
    color : red ;
    font-size: 12px;
}
.myscroll{
    width : 100% ;
    max-height: 300px;
    min-height: 200px;
    overflow: scroll;
}

span .text-hitam{
    font-weight: bold;
}

/* body{
    background-color:rgb(77, 77, 77) ;
} */

.mytab{
    border: 1px solid;
}
