/* .my-bg-navbar{
    background-color: #07385b;
} */

.nav-link:hover{
    background-color : #004c82; 
    border-radius: 5px;
    padding-left: 5px;
}

.nav-link:active{
    background-color : #8db9d8; 
    border-radius: 5px;
}

#mybread{
    background-color:rgb(222, 222, 222);
    padding:12px 10px 4px 40px;
    border-radius: 10px;
}
#mybread li{
    color:black; 
}

#my-bg{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#login{
    margin-top: 80px;
}

#login .card{
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) { 
    #my-bg{
        background-size: 700px;
        background-position: center;
        background-position-y: 100px;
    }

    #login{
        margin-top: 40px;
    }
 }